{% extends "listar.html" %}

<!-- Este bloque avisa al usuario de compras que no se ha completado -->
{% block alertas %}

    {% if hay_compras_pendientes %}

        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="fas fa-bullhorn"></i> <strong>¡Alerta!</strong></h5>
            Las siguientes compras estan pendientes:    <br>
            {% for i in hay_compras_pendientes %}

                Compra #{{i.id}}<br>

            {% endfor %}
        </div>

    {% endif %}

{% endblock %}

{% block columnas %}
<tr>
    <th scope="col">#</th>
    <th scope="col">Fecha de compra</th>
    <th scope="col">Metodo de pago</th>
    <th scope="col">Proveedor</th>
    <th scope="col">Estado</th>
    <th scope="col">Opciones</th>

</tr>

{% endblock %}

{% block filas %}
{% for c in object_list %}
<tr>
    <td>{{c.id}}</td>
    <td>{{c.fecha_compra}}</td>
    <td>{{c.metodo_pago}}</td>
    <td>{{c.proveedor}}</td>
    {% if c.finalizado %}
        <td>Finalizado</td>
    {% else %}
        <td>Pendiente</td>
    {% endif %}
    <td>
        <!-- Cuando la compra ha sido finalizada no se podra editar ni borrar pero, si se podra ver el detalle de la compra -->
        {% if not c.finalizado %}
        <a href="{% url 'apl:editar_compra' c.id %}" class = "btn btn-primary btn btn-xs"><i class = "fas fa-edit"></i></a>
        <a href="{% url 'apl:borrar_compra' c.id %}" class = "btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></a>
        {% endif %}
        <a href="{% url 'apl:detallar_detallecompra' c.id %}" class = "btn btn-primary btn-xs"><i class="fas fa-eye"></i></a>
    </td>
</tr>
{% endfor %}

{% endblock %}