{% extends "listar.html" %}

<!-- Este bloque avisa al usuario de compras que no se ha completado -->
{% block alertas %}

    {% if messages and obj_relacionados %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h3><i class="fas fa-ban"></i> Error</h3>
        <div class="content-truncate" id="alert-content">
            <h5>
                El registro que se intentó eliminar está relacionado con los siguientes registros:
                <ul>
                    {% for i in obj_relacionados %}

                        {% if forloop.counter <= 3 %}
                            <li>{{i}}</li>
                        {% else %}
                            <div id='contenedor-error'>
                                <li>{{i}}</li>
                            </div>
                        {% endif %}

                    {% endfor %}
                </ul>
                {% if obj_relacionados|length > 3 %}
                    <button class = "btn btn-danger" id = "opciones">Mas información</button>
                {% endif %}
            </h5>
        </div>
    </div>
    {% endif %}

    {% if hay_compras_pendientes %}

        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h3><i class="fas fa-bullhorn"></i> <strong>¡Alerta!</strong></h3>
            <h5>Las siguientes compras estan pendientes:</h5>
            
                <h5>
                    <ul>
                    {% for i in hay_compras_pendientes %}

                        {% if forloop.counter <= 3 %}
                            <li>Compra #{{i.id}}</li>
                        {% else %}
                        <div id = "contenido">
                            <li>Compra #{{i.id}}</li>
                        </div>
                        {% endif %}
                        
                    {% endfor %}
                    </ul>
                </h5>
            {% if hay_compras_pendientes|length > 3 %}
            <a href="#" onclick="contenido()" class = "opcion">Mas información</a>
            {% endif %}
        </div>

    {% endif %}

{% endblock %}

{% block columnas %}
<tr>
    <th scope="col">#</th>
    <th scope="col">Fecha de compra</th>
    <th scope="col">Metodo de pago</th>
    <th >Usuario</th>
    <th scope="col">Proveedor</th>
    <th scope="col">Estado</th>
    <th scope="col">Opciones</th>

</tr>

{% endblock %}

{% block filas %}
{% for c in object_list %}
<tr>
    <td>{{c.id}}</td>
    <td>{{c.fecha_compra}}</td>
    <td>{{c.metodo_pago}}</td>
    <td>{{c.usuario}}</td>
    <td>{{c.proveedor}}</td>
    {% if c.finalizado %}
        <td>Finalizado</td>
    {% else %}
        <td>Pendiente</td>
    {% endif %}
    <td>
        <!-- Cuando la compra ha sido finalizada no se podra editar ni borrar pero, si se podra ver el detalle de la compra -->
        {% if not c.finalizado %}
        <a href="{% url 'apl:editar_compra' c.id %}" class = "btn btn-primary btn btn-xs"><i class = "fas fa-edit"></i></a>
        <a href="{% url 'apl:borrar_compra' c.id %}" class = "btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></a>
        {% endif %}
        <a href="{% url 'apl:detallar_detallecompra' c.id %}" class = "btn btn-primary btn-xs"><i class="fas fa-eye"></i></a>
    </td>
</tr>
{% endfor %}

{% endblock %}