{% extends "listar.html" %}

<!-- Este bloque avisa al usuario de compras que no se ha completado -->
{% block alertas %}

    {% if messages and obj_relacionados %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h3><i class="fas fa-ban"></i> Error</h3>
        <div class="content-truncate" id="alert-content">
            <h5>
                El registro que se intentó eliminar está relacionado con los siguientes registros:
                <div class = "scrollable-list">
                    <ul>
                        {% for i in obj_relacionados %}
                            <li>{{i}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </h5>
        </div>
    </div>
    {% endif %}

    {% if hay_compras_pendientes %}

    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h3><i class="fas fa-bullhorn"></i> <strong>¡Alerta!</strong></h3>
        <h5>Las siguientes compras estan pendientes:</h5>
        
            <h5>
                <div class = "lista-scrolleable">
                    <ul>
                        {% for i in hay_compras_pendientes %}
                            <li>Venta #{{i.id}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </h5>
    </div>

    {% endif %}

{% endblock %}

{% block filtro_form_contenido %} 
<form method="GET" action="">
    <div class="form-group">
        <label for="id">ID:</label>
        <input type="number" class="form-control" id="id" name="id" value="{{ request.GET.id }}">
    </div>
    <div class="form-group">
        <label for="fecha_desde">Fecha de venta (desde):</label>
        <input type="date" class="form-control datepicker" id="fecha_desde" name="fecha_desde" value="{{ request.GET.fecha_compra }}">
    </div>
    <div class="form-group">
        <label for="fecha_hasta">Fecha de venta (hasta):</label>
        <input type="date" class="form-control datepicker" id="fecha_hasta" name="fecha_hasta" value="{{ request.GET.fecha_compra }}">
    </div>
    <div class="form-group">
        <label for="metodo_pago">Metodo de Pago:</label>
        <input type="text" class="form-control" id="metodo_pago" name="metodo_pago" value="{{ request.GET.metodo_pago }}">
    </div>
    <div class="form-group">
        <label for="usuario">Usuario:</label>
        <input type="text" class="form-control" id="usuario" name="usuario" value="{{ request.GET.usuario }}">
    </div>
    <div class="form-group">
        <label for="proveedor">Proveedor:</label>
        <input type="text" class="form-control" id="proveedor" name="proveedor" value="{{ request.GET.proveedor }}">
    </div>
    <div class="form-group">
        <label for="finalizado">Estado:</label>
        <select class="form-control" id="finalizado" name="finalizado">
            <option value="">Todos</option>
            <option value="True" {% if request.GET.finalizado == 'True' %}selected{% endif %}>Finalizado</option>
            <option value="False" {% if request.GET.finalizado == 'False' %}selected{% endif %}>Pendiente</option>
        </select>
    </div>
</form>



<script>
$(document).ready(function() {
    $(".datepicker").datepicker({
        dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+0"
    });
});
</script>
{% endblock %}

{% block columnas %}
<tr>
    <th scope="col">#</th>
    <th scope="col">Fecha de compra</th>
    <th scope="col">Metodo de pago</th>
    <th >Usuario</th>
    <th scope="col">Proveedor</th>
    <th scope="col">Estado</th>
    <th scope="col">Opciones</th>

</tr>

{% endblock %}

{% block filas %}
{% for c in object_list %}
<tr>
    <td>{{c.id}}</td>
    <td>{{c.fecha_compra}}</td>
    <td>{{c.metodo_pago}}</td>
    <td>{{c.usuario}}</td>
    <td>{{c.proveedor}}</td>
    {% if c.finalizado %}
        <td>Finalizado</td>
    {% else %}
        <td>Pendiente</td>
    {% endif %}
    <td>
        <!-- Cuando la compra ha sido finalizada no se podra editar ni borrar pero, si se podra ver el detalle de la compra -->
        {% if not c.finalizado %}
        <a href="{% url 'apl:editar_compra' c.id %}" class = "btn btn-primary btn btn-xs"><i class = "fas fa-edit"></i></a>
        <a href="{% url 'apl:borrar_compra' c.id %}" class = "btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></a>
        {% endif %}
        <a href="{% url 'apl:detallar_detallecompra' c.id %}" class = "btn btn-primary btn-xs"><i class="fas fa-eye"></i></a>
    </td>
</tr>
{% endfor %}

{% endblock %}