{% extends 'form.html' %}


{% block boton_crear %}

{% if field.label == "Marcas" %}

<button id = "marcas" type="button" class="btn btn-primary btn btn-xs" data-value = '{{formulario.marca}}' onclick ="mostrarFormulario('marcas', 'marcas', 'id_nombre', 'id_estado')" data-toggle="modal" data-target="#formulario-modal"><i class = "fas fa-plus "></i></button>

{% elif field.label == "Tipo" %}

<button id = "tipo" type="button" class="btn btn-primary btn btn-xs" data-value = '{{formulario.tipo}}' onclick ="mostrarFormulario('tipo','tipos', 'id_nombre', 'id_estado')" data-toggle="modal" data-target="#formulario-modal"><i class = "fas fa-plus "></i></button>

{% elif field.label == "Presentacion" %}

<button id = "presentacion" type="button" class="btn btn-primary btn btn-xs" data-value = '{{formulario.tipo}}' onclick ="mostrarFormulario('tipo','tipos', 'id_nombre', 'id_estado')" data-toggle="modal" data-target="#formulario-modal"><i class = "fas fa-plus "></i></button>

{% elif field.label == "Unidad medida" %}

<a href="{% url 'apl:crear_medida' %}" class = "btn btn-primary btn btn-xs"><i class = "fas fa-plus"></i></a>

{% endif %}

{% endblock %}