{% extends "listar.html" %}
{% load humanize %}
{%block titulo%}
Listar Productos
{%endblock%}

{% block filtro_form_contenido %} 
<form method="GET" action="">
    <div class="form-group">
        <label for="id">ID:</label>
        <input type="number" class="form-control" id="id" name="id" value="{{ request.GET.id }}">
    </div>

    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" class="form-control" value="{{ request.GET.nombre }}">
    </div>

    <div class="form-group">
        <label for="marcas">Marcas:</label>
        {{ Producto.marcas }}
    </div>

    <div class="form-group">
        <label for="tipo">Tipo:</label>
        {{ Producto.tipo }}
    </div>

    <div class="form-group">
        <label for="presentacion">Presentación:</label>
        {{ Producto.presentacion }}
    </div>

    <div class="form-group">
        <label for="unidad_medida">Unidad de Medida:</label>
        {{ Producto.unidad_medida }}
    </div>
</form>




{%endblock%}

{% block columnas %}
<tr>
    <th scope="col" style="width: 10%;">#</th>
    <th scope="col" style="width: 15%;">Nombre</th>
    <th scope="col" style="width: 15%;">Cantidad</th>
    <th scope="col" style="width: 10%;">Precio</th>
    <th scope="col" style="width: 15%;">Marcas</th>
    <th scope="col" style="width: 15%;">Tipo</th>
    <th scope="col" style="width: 15%;">Presentacion</th>
    <th scope="col" style="width: 10%;">Unidad Medida</th>
    
    <th scope="col" style="width: 20%;">Opciones</th>

</tr>

{% endblock %}

{% block filas %}
{% for c in object_list %}
<tr>
    <td>{{c.id}}</td>
    <td>{{c.nombre}}</td>
    <td>{{c.cantidad}}</td>
    <td>${{c.precio|floatformat:0|intcomma}}</td>
    <td>{{c.marcas}}</td>
    <td>{{c.tipo}}</td>
    <td>{{c.presentacion}}</td>
    <td>{{c.unidad_medida}}</td>
    <td>
        <a href="{% url 'apl:editar_producto' c.id %}" class = "btn btn-primary btn btn-xs" data-toggle="tooltip" data-placement="top" title="Editar">
            <i class = "fas fa-edit"></i></a>
        <a href="{% url 'apl:borrar_producto' c.id %}" class = "btn btn-danger btn btn-xs" data-toggle="tooltip" data-placement="top" title="Eliminar">
            <i class = "fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}

{% endblock %}
