{% extends "listar.html" %}
{%block titulo%}
Listar Proveedores
{%endblock%}

{% block filtro_form_contenido %} 
<form method="GET" action="">
    <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" id="id" name="id" value="{{ request.GET.id }}">
        <!--Campo para filtrar por ID -->
    </div>
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" class="form-control" value="{{ request.GET.nombre }}">
    </div>
    <div class="form-group">
        <label for="marcas">Apellido:</label>
        <input type="text" name="apellido" id="apellido" class="form-control" value="{{ request.GET.apellido }}">
    </div>
    <div class="form-group">
        <label for="nit">Numero de Identificacion:</label>
        <input type="number" name="nit" id="nit" class="form-control" value="{{ request.GET.nit }}">
    </div>
    <div class="form-group">
        <label for="ubicacion">Ubicacion:</label>
        <input type="text" name="ubicacion" id="ubicacion" class="form-control" value="{{ request.GET.ubicacion }}">
    </div>
    <div class="form-group">
        <label for="telefono">Telefono:</label>
        <input type="number" name="telefono" id="telefono" class="form-control" value="{{ request.GET.telefono }}">
    </div>
    <div class="form-group">
        <label for="correo_electronico">Correo Electronico:</label>
        <input type="text" name="correo_electronico" id="correo_electronico" class="form-control" value="{{ request.GET.correo_electronico }}">
    </div>

    <div class="form-group">
        <label for="Tipo_identificador">Tipo de Identificacion:</label>
        <input type="text" name="Tipo_identificador" id="Tipo_identificador" class="form-control" value="{{ request.GET.Tipo_identificador }}">
    </div>
</form>
{%endblock%}

{% block columnas %}
<tr>
    <th scope="col" style="width: 10%;">#</th>
    <th scope="col" style="width: 15%;">Nombre</th>
    <th scope="col" style="width: 15%;">Apellido</th>
    <th scope="col" style="width: 10%;">NIT</th>
    <th scope="col" style="width: 15%;">Ubicacion</th>
    <th scope="col" style="width: 20%;">Telefono</th>
    <th scope="col" style="width: 20%;">Correo</th>
    
    <th scope="col" style="width: 20%;">Opciones</th>

</tr>

{% endblock %}

{% block filas %}
{% for c in object_list %}
<tr>
    <td>{{c.id}}</td>
    <td>{{c.nombre}}</td>
    <td>{{c.apellido}}</td>
    <td>{{c.nit}}</td>
    <td>{{c.ubicacion}}</td>
    <td>{{c.telefono}}</td>
    <td>{{c.correo_electronico}}</td>
    <td>
        <a href="{% url 'apl:editar_proveedor' c.id %}" class = "btn btn-primary btn btn-xs" data-toggle="tooltip" data-placement="top" title="Editar">
            <i class = "fas fa-edit"></i></a>
        <a href="{% url 'apl:borrar_proveedor' c.id %}" class = "btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Eliminar">
        <i class="fas fa-trash-alt"></i></button>
    </td>
</tr>
{% endfor %}

{% endblock %}