{% extends "listar.html" %}
{%block titulo%}
Listar Proveedores
{%endblock%}
{% block columnas %}
<tr>
    <th scope="col" style="width: 10%;">#</th>
    <th scope="col" style="width: 15%;">Nombre</th>
    <th scope="col" style="width: 15%;">Apellido</th>
    <th scope="col" style="width: 10%;">NIT</th>
    <th scope="col" style="width: 15%;">Ubicacion</th>
    <th scope="col" style="width: 20%;">Telefono</th>
    <th scope="col" style="width: 20%;">Email</th>
    
    <th scope="col" style="width: 20%;">Opciones</th>

</tr>

{% endblock %}

{% block filas %}
{% for c in object_list %}
<tr>
    <td>{{c.id}}</td>
    <td>{{c.nombre}}</td>
    <td>{{c.apellido}}</td>
    <td>{{c.nit}}</td>
    <td>{{c.ubicacion}}</td>
    <td>{{c.telefono}}</td>
    <td>{{c.correo_electronico}}</td>
    <td>
        <a href="{% url 'apl:editar_proveedor' c.id %}" class = "btn btn-primary btn btn-xs" data-toggle="tooltip" data-placement="top" title="Editar">
            <i class = "fas fa-edit"></i></a>
        <a href="{% url 'apl:borrar_proveedor' c.id %}" class = "btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Eliminar">
        <i class="fas fa-trash-alt"></i></button>
    </td>
</tr>
{% endfor %}

{% endblock %}