{% extends "listar.html" %}



{% block columnas %}
<tr>
    <th scope="col" style="width: 10%;">id</th>
    <th scope="col" style="width: 70%;">Producto</th>
    <th scope="col" style="width: 70%;">Producto</th>
    <th scope="col" style="width: 70%;">Producto</th>
    <th scope="col" style="width: 70%;">Producto</th>
    
    <th scope="col">Id de Compra</th>

</tr>

{% endblock %}

{% block filas %}
{% for c in object.detallecompra_set.all %}
<!-- Filas -->
<tr>
    <!-- Atributos de la tabla -->
    <td>{{c.id}}</td>
    <td>{{c.producto}}</td>
    <td>{{c.compra}}</td>

    <!-- Bototnes de para editar y eliminar -->
    <td>
    </td>
</tr>
{% endfor %}

{% endblock %}