{% extends "listar.html" %}

{% block columnas %}
<tr>
    <th scope="col" style="width: 10%;">#</th>
    <th scope="col" style="width: 70%;">Nombre</th>
    <th scope="col">  Estado</th>
    <th scope="col" style="width: 20%;">Opciones</th>

</tr>

{% endblock %}

{% block filas %}
{% for c in object_list%}
<!-- Filas -->
<tr>
    <!-- Atributos de la tabla -->
    <td>{{c.id}}</td>
    <td>{{c.nombre}}</td>
    <td>{{c.estado}}</td>

    <!-- Bototnes de para editar y eliminar -->
    <td>
        <a href="{% url 'apl:editar_tipo' c.id %}" class="btn btn-primary btn-xs"><i class ="fas fa-edit"></i></a>
        <a href="{% url 'apl:borrar_tipo' c.id %}" class ="btn btn-danger btn-xs"><i class = "fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}

{% endblock %}