{% extends 'listar.html' %}

{% block titulos %}

  {{titulo}}

{% endblock %}

{% block columnas %}

  <th> id </th>
  <th> descripción </th>
  <th> estado </th>

{% endblock %}

{% block filas %}

  {% for i in datos %}
    <tr>
      <td> {{i.id}} </td>
      <td> {{i.nombre}}</td>
      <td> {{i.estado}}</td> 

      <!-- Botones editar y eliminar -->
      <td>
        <button type = "button" class = "btn-primary btn-xs"><i class = "fas fa-edit"></i></button>
        <button type = "button" class = "btn-danger btn-xs"><i class = "fas fa-edit"></i></button>
      <td>
    </tr>

  {% endfor %}

{% endblock %}