{% extends "listar.html" %}
{%block titulo%}
listar clientes

{%endblock%}
{% block columnas %}
<tr>
    <th scope="col" style="width: 10%;">#</th>
    <th scope="col" style="width: 20%;">Fecha de compra</th>
    <th scope="col" style="width: 20%;">Metodo de pago</th>
    <th scope="col" style="width: 20%;">Producto</th>
    <th scope="col" style="width: 20%;">Proveedores</th>
    <th scope="col" style="width: 20%;">Opciones</th>

</tr>

{% endblock %}

{% block filas %}
{% for c in object_list %}
<tr>
    <td>{{c.id}}</td>
    <td>{{c.fecha_compra}}</td>
    <td>{{c.metodo_pago}}</td>
    <td>{{c.producto}}</td>
    <td>{{c.proveedor}}</td>
    <td>{{c.t}}</td>
    <td>
        <button type="button" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i></button>
        <button type="button" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></button>
    </td>
</tr>
{% endfor %}

{% endblock %}