{% extends 'form.html' %}
<!-- este codigo es para colocar el precio unitario en su respectivo campo
     segun el producto que se este seleccionando -->
     {% block codigo %}

     <script>
     $(document).ready(function() {
         
         $('#id_producto').on('change', function(){
             var id = $(this).val();
             if(id){
 
                 $.ajax({
                     url: '{% url "apl:obtener_precio" %}',
                     data: {
                         id: id,
                     },
                     dataType: 'json',
                     success: function(data){
                         $('#id_precio_unitario').val(data.precio)
                     }
                 })
             } else {
 
                 $('#id_precio_unitario').val('')
             }
         })
     })
 
 </script>
    <script>
        $('#id_producto').select2({width: '100%'})
    </script>
 {% endblock %}

 {% block boton_crear %}

    {% if field.label == "Producto" %}
    <button id = "producto" type="button" class="btn btn-primary btn btn-xs" data-value = '{{formulario}}' onclick ="mostrarFormulario('producto','productos', 'id_nombre', 'id_cantidad', 'id_precio', 'id_marcas', 'id_tipo', 'id_presentacion', 'id_unidad_medida')" data-toggle="modal" data-target="#formulario-modal"><i class = "fas fa-plus "></i></button>
    {% endif %}

 {% endblock %}
 