{% extends 'form.html' %}

{% block boton_crear %}

    {% if field.label == "Cliente" %}

    <button id = "cliente" type="button" class="btn btn-primary btn btn-xs" data-value = '{{formulario.cliente}}' onclick ="mostrarFormulario(
                                                                                                                                                        'cliente',
                                                                                                                                                        'clientes', 
                                                                                                                                                        'id_nombre', 
                                                                                                                                                        'id_apellido',
                                                                                                                                                        'id_nit',
                                                                                                                                                        'id_correo_electronico',
                                                                                                                                                        'id_telefono',
                                                                                                                                                        'id_Tipo_identificador')" data-toggle="modal" data-target="#formulario-modal"><i class = "fas fa-plus "></i></button>

    {% elif field.label == "Metodo de Pago" %}
    <button id = "metodo_pago" type="button" class="btn btn-primary btn btn-xs" data-value = '{{formulario.metodo}}' onclick ="mostrarFormulario('metodo_pago','metodos', 'id_nombre', 'id_estado')" data-toggle="modal" data-target="#formulario-modal"><i class = "fas fa-plus "></i></button>
    {% endif %}

{% endblock %}

{% block codigo %}
    <script>
        $('#id_cliente').select2({width: '100%'})
        $('#id_metodo_pago').select2({width: '100%'})
    </script>

{% endblock %}