{% extends "listar.html" %}
{% load humanize %}
{%block Titulo%}
listar Ventas
{%endblock%}
{% block columnas %}
<tr>
    <th scope="col" style="width: 10%;">#</th>
    <th scope="col" style="width: 50%;">Fecha de Venta</th>
    <th scope="col" style="width: 60%;">Producto</th>
    <th scope="col" style="width: 60%;">Unidades de medida</th>
    <th scope="col" style="width: 60%;">Cantidad</th>
    <th scope="col" style="width: 60%;">Precio</th>
    <th scope="col" style="width: 60%;">Total</th>    
    <th scope="col" style="width: 60%;">Empleado</th>
    <th scope="col" style="width: 60%;">Cliente</th>
    <th scope="col" style="width: 60%;">administrador</th>
    <th scope="col" style="width: 100%;">Opciones</th>

</tr>

{% endblock %}

{% block filas %}
{% for c in object_list %}
<tr>
    <td>{{c.id}}</td>
    <td>{{c.fecha_venta}}</td>
    <td>{{ c.producto.nombre}}</td>
    <td>{{c.producto.unidad_medida}}</td>
    <td>{{c.ventas_cantidad}}</td>
    <td>${{c.producto.precio|floatformat:0|intcomma}}</td>
    <td>${{c.calcular_total|floatformat:0|intcomma}}</td>
    <td>{{c.empleado}}</td>
    <td>{{c.cliente}}</td>
    <td>{{c.administrador}}</td>
    <td>
        <a href="{% url 'apl:editar_venta' c.id %}" class = "btn btn-primary btn btn-xs"><i class = "fas fa-edit"></i></a>
        <a href="{% url 'apl:borrar_venta' c.id %}" class = "btn btn-danger btn btn-xs"><i class = "fas fa-trash"></i></a>
        <a href="" class = "btn btn-primary btn btn-xs"><i class="fas fa-eye"></i></a>
    </td>
</tr>
{% endfor %}

{% endblock %}