{% load i18n %} {% autoescape off %}
<style>
  body {
    font-family: Arial, sans-serif;
  }

  .email-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    margin-top: 0;
    color: #333;
  }

  .message {
    margin-bottom: 20px;
  }

  .action {
    text-align: center;
  }

  .btn-reset-password {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-reset-password:hover {
    background-color: #1f5a96;
  }
</style>

<div class="email-container">
        <h2>Hola {{user.get_username}},</h2>

  <div class="message">
        <p>Hemos recibido una solicitud para reestablecer tu contraseña.</p>
        <p>Si no realizaste esta solicitud, puedes ignorar este correo electrónico con seguridad.</p>
  </div>

  <div class="action">
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="btn-reset-password">Reestablecer contraseña</a>
  </div>
</div>
{% endautoescape %}