{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block contenido %}

    <form method="post" id = "eliminar">

        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                <i class="fas fa-trash"></i>
                    {{titulo}}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}

                    <div class="alert alert-danger alert-dismissible">
                        <h5><i class ="fas fa-danger"></i> ¡Advertencia!<br>
                            ¿Deseas eliminar el registro #{{object.id}}?
                        </h5>
                        
                    </div>
                    <!-- Muestra el formulario como por ejemplo los campos de texto -->
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="email">{{ field.label }}:</label>
                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                    </div>
                {% endfor%}

            </div>
            <!-- Botones para aceptar o cancelar accion -->
            <div class="card-footer">
                <button type = "submit" class=" btn btn-success swalDefaultSuccess" id="btn_aceptar"><i class = "fas fa-save"></i>
                    Aceptar
                </button>
                <a href="{{crear_url}}" class = "btn btn-primary btn btn-flat">
                    <i class = "fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
    <script>
        document.getElementById('btn_aceptar').addEventListener('click', function(e) {
            e.preventDefault();
            
            Swal.fire({
                title: '¡Exito!',
                text: "Se ha eliminado el registro correctamente",
                icon: 'success',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Aceptar',
            }).then((result) => {
                if (result.isConfirmed) {
                    // Si el usuario confirma, enviamos el formulario
                    document.getElementById('eliminar').submit();
                }
            });
        });
        </script>
{% endblock %}