{% extends "layout.html" %}

{% load widget_tweaks %}

{% block contenido %}

    <form method="post">

        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{titulo}}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}

                <!-- Hace una validacion de datos -->
                {% if form.errors %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type ="button" class ="close" data-dismiss="alert" aria-hidden="true">x</button>
                        <h5><i class = "fas fa-ban"></i>
                            Ha ocurrido un error al intentar guardar los datos ingresados
                        </h5>

                            {% for field in form %}
                                {% for error in field.errors%}

                                    {{error}}

                                {% endfor %}
                            {% endfor %}

                    </div>

                {% endif%}

                <!-- Mustra todo el formulario como por ejemplo los campos de texto -->
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="email">{{ field.label }}:</label>
                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                    </div>
                {% endfor%}

            </div>
            <div class="card-footer">
                <button class=" btn btn-success btn btn-xs"><i class = "fas fa-save"></i>
                    Agregar
                </button>
            </div>
        </div>
    </form>

    <!-- Implementacion de la alerta sweetalert -->
    <script>

        {% if form.errors %}

            var errors = '';

            {% for field in form %}
                {% for error in field.errors%}
                    errors+='{{ error }}\n';
                {% endfor %}
            {% endfor %}

            Swal.fire({

                title: 'Error!',
                text: errors,
                icon: 'error'

            });
        {% endif%}
    </script>
{% endblock %}