{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block contenido %}

    <form id='formulario-registro' method="post">

        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{titulo}}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}

                <!-- Hace una validacion de datos -->
                {% if form.errors %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type ="button" class ="close" data-dismiss="alert" aria-hidden="true">x</button>
                        <h5><i class = "fas fa-ban"></i>
                            Ha ocurrido un error al intentar guardar los datos ingresados
                        </h5>

                                {% for field in form %}
                                    {% for error in field.errors%}

                                      <p> <strong>En el campo {{field.label}}:</strong>  {{error}}</p>

                                    {% endfor %}
                                {% endfor %}

                    </div>

                {% endif%}

                <!-- Mustra todo el formulario como por ejemplo los campos de texto -->
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="email">{{ field.label }}:</label>

                        <!-- Este bloque debe ser usado para crear botones para los campos que
                         son foreign keys para que se pueda redirigir a la creacion de un dato nuevo -->
                        {% block boton_crear %}

                        {% endblock %}

                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                       
                    </div>
                {% endfor%}
            </div>
            <div class="card-footer">
                {% block boton_agregar %}
                <button type="submit" class=" btn btn-success" id = "btn_guardar"><i class = "fas fa-save" ></i>
                    Agregar
                </button>
                {% endblock %}
            </div>
        </div>
    </form>
    <!-- modal -->
    <div class="modal fade" id="formulario-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Crear nuevo registro</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form id = "formulario-adicional">
                    {% csrf_token %}

                    <div id = "formulario">

                    </div>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button id = "guardar-tipo" type="submit" class="btn btn-success">Agregar</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
          </div>
        </div>
      </div>

    <!-- Implementacion de la alerta sweetalert -->
    <script>
document.getElementById('formulario-registro').addEventListener('submit', function(e) {
    e.preventDefault();
    
    fetch(this.action, {
        method: 'POST',
        body: new FormData(this),
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
    .then(response => response.json().then(data => ({status: response.status, body: data})))
    .then(({status, body}) => {
        if (status === 200 && body.status === 'success') {
            Swal.fire({
                title: '¡Éxito!',
                text: 'El registro se ha completado correctamente.',
                icon: 'success',
                confirmButtonText: 'Ok'
            }).then((result) => {
                if (result.isConfirmed) {
                    
                    //Si lo que se creo fue una compra entonces se redirigira al detalle de compra y como argumento
                    //de la url se coloca el id que recien se creo
                    if (body.es_compra){

                        window.location.href = "{% url 'apl:crear_detallecompra' 0 %}".replace('0', body.id);

                    } else if (body.es_venta){ //aqui es lo mismo que lo anterior pero con venta

                        window.location.href = "{% url 'apl:crear_detalleventa' 0 %}".replace('0', body.id);
                    } else {

                        window.location.href = "{{crear_url}}"

                    }
                    
                    
                }
            });
        }else if (body.errors) {
                    let errorMessage = '<ul>';
                    for (const [field, messages] of Object.entries(body.errors)) {
                        errorMessage += `<li><strong>Campo ${field}:</strong> ${messages.join(', ')}</li>`;
                    }
                    errorMessage += '</ul>';
                    
                    Swal.fire({
                        title: 'Error en el formulario',
                        html: errorMessage,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    title: 'Error',
                    text: 'Ha ocurrido un error inesperado.' + error,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
            });
        });
        
        </script>

<!-- script para mostrar un formulario en el modal -->
<script>

    var url = ''
    var atributo = ''
    document.getElementById('formulario-adicional').addEventListener('submit', function(e) {
        e.preventDefault()
        var form = document.getElementById('formulario-adicional');
        var formData = new FormData(form);
        
        fetch(`/apl/${url}/crear`, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                let select = document.getElementById(`id_${atributo}`);
                let option = new Option(data.nombre, data.id);
                select.add(option);
                select.value = data.id;
                $('#formulario-modal').modal('hide');

                // esta condicion es para que coloque automaticamente el precio unitario de un producto 
                // recien creado desde el formulario modal|
                if(atributo == 'producto'){
                    $.ajax({
                     url: '{% url "apl:obtener_precio" %}',
                     data: {
                         id: $('#id_producto').val(),
                     },
                     dataType: 'json',
                     success: function(data){
                         $('#id_precio_unitario').val(data.precio)
                     }
                 })
                }
                Swal.fire({
                title: '¡Éxito!',
                text: 'El registro se ha agregado correctamente.',
                icon: 'success',
                confirmButtonText: 'Ok'
            })
            } else {
                // Manejar errores
                let errores = "<ul>"
                    for (i in data.errors) {
                        errores += `<li><strong>Campo ${i}:</strong> ${data.errors[i].join(', ')}</li>`;
                    }
                errores += "</ul>"
                
                Swal.fire({
                    title: 'Error',
                    html: errores,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
            }
        })

    });


    //este metodo verifica que formulario se debe mostrar en el modal
    let mostrarFormulario = (formulario, direccion, ...id) => {
        
        var configuracion = document.getElementById(formulario).dataset.value.split('\n')

        //aqui se asegura que los campos tengan la clase form-control para dar diseño a los campos
        id.forEach(campo => {
            configuracion = configuracion.map(elemento =>{
                if (elemento.includes(`"${campo}"`) && elemento.includes('input') || elemento.includes('select')){
                    return elemento.replace(`"${campo}"`, `"${campo}" class = "form-control"`)
                } else {
                    return elemento = elemento
                }
            })
        })
        //se añade todo el formulario con diseño al modal
        document.getElementById('formulario').innerHTML = configuracion.join('')

        //la url es para que el metodo fetch siempre sepa a que modulo debe ir
        url = direccion
        //el atributo es para que la pagina coloque el registro creado en el select especificado
        atributo = formulario
    }
    </script>
<!-- este bloque es para que se coloque el precio automaticamente en el input segun que producto se selccione -->
{% block codigo %}
{% endblock %}

{% endblock %}

