{% extends "layout.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- Urls de los archivos CSS -->
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/dataTables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/datatables-buttons/css/buttons.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/icheck-bootstrap/icheck-bootstrap.min.css' %}" />
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<style>
    .custom-button {
        background-color: #1f5a96;
        border: 2px solid hwb(0 100% 0%);
        color: #fff;
        margin: 0;
        padding: 4px 10px;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
    }

    .custom-button:hover {
        background-color: #1d3c5d;
        border: 2px solid #09335f;
    }
</style>
{% endblock %}

{% block contenido %}

{% block alertas %}
    {% if messages and obj_relacionados %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h3><i class="fas fa-ban"></i> Error</h3>
        <div class="content-truncate" id="alert-content">
            <h5>
                El registro que se intentó eliminar está relacionado con los siguientes registros:
                <br>
                <div class="scrollable-list">
                    <ul id = 'lista_errores'>
                        {% for i in obj_relacionados %}
                                <li>{{i}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </h5>
        </div>
    </div>
    {% endif %}
{% endblock %}


<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-address-book" style="margin-right: 5px;"></i>
            {{ titulo }}
        </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-secondary btn-sm custom-button" data-toggle="modal" data-target="#filtroModal">
                <i class="fas fa-filter"></i> Filtrar
            </button>
        </div>
    </div>
    <div class="card-body">
        {% block Detalle %}
        {% endblock %}

        <div class="logo-container">
            <img src="{% static 'img/logosfi.png' %}" alt="Logo" class="logo-img">
        </div>

        

        <table id="tabla" class="table table-bordered table-striped">
            <thead>
                {% block columnas %}
                {% endblock %}
            </thead>
            <tbody>
                {% block filas %}
                {% endblock %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        {% block botones_opc %}
            <a href="{{ crear_url }}" class="btn btn-flat" style="background-color: #23853a; border: 1px solid #23853a; color: #fff; margin: 5px; padding: 5px 10px; border-radius: 4px; cursor: pointer;">
                <i class="fas fa-plus"></i> Agregar
            </a>
        {% endblock %}
    </div>
</div>

<!-- Modal Grande -->
<div class="modal fade" id="filtroModal" tabindex="-1" role="dialog" aria-labelledby="filtroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtroModalLabel">Filtrar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% block filtro_form_contenido %}
                {% endblock %}
            </div>
            <div class="modal-footer justify-content-start"> <!-- Alineación a la izquierda -->
                <!-- Cambia los estilos de los botones -->
                <button type="button" class="btn btn-secondary btn-lg rounded-pill" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary btn-lg rounded-pill ml-2" onclick="applyFilters()">Filtrar</button>
                <button type="button" class="btn btn-danger btn-lg rounded-pill ml-2" onclick="clearFilters()">Limpiar Filtros</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<!-- Urls de los archivos Js -->
<script src="{% static 'lib/adminlte-3.2.0/datatables/Spanish.json' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/dataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/dataTables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/dataTables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/jszip/jszip.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.colVis.min.js' %}"></script>


<script>
    $(document).ready(function () {
        $("#tabla").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "language": {
                "url": "{% static 'lib/adminlte-3.2.0/datatables/Spanish.json' %}"
            },
            "buttons": [
                {
                    extend: 'copy',
                    text: 'Copiar tabla',
                    className: 'custom-button',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },

                {
                    extend: 'excel',
                    text: 'Archivo Excel',
                    className: 'custom-button',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'pdf',
                    text: 'PDF',
                    className: 'custom-button',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'print',
                    text: 'Imprimir',
                    className: 'custom-button',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                }
            ],
            "dom": 'Bfrtip'
        }).buttons().container().appendTo('#tabla_wrapper .col-md-6:eq(0)');
    });

    function clearFilters() {
        // Limpia los campos del formulario
        document.querySelector('#filtroModal form').reset();
        // Redirige a la URL actual sin parámetros
        const url = new URL(window.location.href);
        url.search = ''; // Elimina todos los parámetros de búsqueda
        window.location.href = url.toString();
    }

    function applyFilters() {
        document.querySelector('#filtroModal form').submit();
    }
</script>
<script>
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    icon: '{{ message.tags }}',  // Tipo de mensaje: success, error, etc.
                    title: '{% if message.tags == "success" %}¡Éxito!{% elif message.tags == "error" %}¡Error!{% endif %}',  // Título basado en el tipo de mensaje
                    text: "{{ message }}",  // Mensaje del contenido
                    confirmButtonText: 'OK'
                });
            {% endfor %}
        {% endif %}
</script>


{% endblock %}