/* CAMBIA EL COLOR DEL BODY PARA EL MODO OSCURO */
.Dark-mode .user-panel {
    background-color: #1f1e1e;

    color: #fff;
}

.Dark-mode .content-wrapper {
    background-color: #1f1e1e;
    color: #fff;
}
.Dark-mode .content-header {
    background-color: #1f1e1e;
    color: #fff;
}
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode h2 {
    color: #fff; /* Cambiar h2 a blanco en modo oscuro */
}

.Dark-mode .main-header {
    background-color: #1f1e1e;
    border-color:  #1f1e1e;    
    color: #fff;
}
.Dark-mode .table-responsive {
    background-color: #1f1e1e;
    border-color: #1f1e1e ;   
    color: #fff;
}
.Dark-mode .card-header {
    background-color: #1f1e1e;
    border-color:  #1f1e1e;
    color: #fff;
}

.Dark-mode .card-body {
    background-color:#1f1e1e;
    border-color:#1f1e1e;
    color: #fff;
}
.Dark-mode .card-footer {
    background-color: #1f1e1e;
    border-color:  #1f1e1e;
    color: #fff;
    
}
.Dark-mode .sidebar {
    background-color:  #1f1e1e;
    border-color:  #1f1e1e;
    color: #fff;
}
.Dark-mode .main-sidebar {
    background-color:  #1f1e1e;
    border-color:  #1f1e1e;
    color: #fff;
}
.Dark-mode .dataTables_length {
    background-color:  #1f1e1e;
    border-color:#1f1e1e; 
    color: #fff;
}
.Dark-mode .main-footer {
    background-color: #1f1e1e;
    border-color:#1f1e1e;
    color: #fff;
    
}
.Dark-mode .form-group {
    background-color:#1f1e1e;
    border-color: #1f1e1e;
    color: #fff;
    
}
.Dark-mode .form-control{
    background-color: #ffffff;
    border-color:#ffffff;
    color: #000000;
    
}

.info  {
    color: white;
}



.Dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.Dark-mode .h2{
    background-color: #ffffff;
    border-color:#ffffff;
    color: #000000;
    
}

        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0 auto;
            
            
        }

        

        h1 {
            color: #4CAF50;
            text-align: center;
            margin-bottom: 20px;
        }

        h2 {
            color: #333;
            border-bottom: 2px solid #3bad2c;
            padding-bottom: 10px;
            margin-bottom: 20px;
            padding-left: 0px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        select, button {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin-bottom: 20px;
        }



        .btn-primary {
            background-color: #007bff;
            color: #fff;
            display: block;
            margin: 20px auto; /* Añade margen arriba y abajo */
            width: fit-content;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-success {
            background-color: #28a745;
            display: block;
            margin: 20px auto; /* Añade margen arriba y abajo */
            width: fit-content;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            opacity: 0.9;
        }
